*{
    box-sizing: border-box;
    
}

html, body{
    margin: 0%;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: #856DCB;
}

.title{
    color: #DCDAD4;
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
}

.checker{
    padding: 1%;
    border-radius: 50px;
    width: 40%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DCDAD4;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
                0 6px 20px rgba(0, 0, 0, 0.19);
}


#text-input{
    border: none;
    outline: none;
    width: 70%;
    padding-left: 5%;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: transparent;
    color: black;
}

#text-input:focus{
    border: transparent;
}

#check-btn{
    border-radius: 20px;
    width: 20%;
    height: 100%;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #856DCB;
    border: none;
}

#check-btn:hover{
    cursor: pointer;
    background-color: #8e75d8;
}

.definition{
    height: auto;
    width: 40%;
    background-color: #856DCB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.definition i{
    font-size: 2rem;
}

.definition p {
    width: auto;
    margin: 0;
    padding-left: 15px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    border: none;
}

#result{
    color: #DCDAD4;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

@media only screen and (max-width: 1000px){
    .checker{
        width: 60%;
    }

    .definition i{
        font-size: 3rem;
    }

    .definition{
        width: 60%;
    
    }

 
}

@media only screen and (max-width: 800px){
    .checker{
        width: 70%;
    }
    #check-btn{
        border-radius: 40px;
    }

    .definition i{
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 700px) {

    .checker{
        padding: 1%;
        border-radius: 50px;
        width: 60%;
        height: 10%;
    }
    
    #check-btn{
        border-radius: 40px;
        width: 20%;
        font-size: 1rem;
        font-weight: 300;
    
    }

    .definition i{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 650px) {
    .checker{
        width: 70%;
       
    }

    .definition i{
        font-size: 3rem;
    }

    .definition{
        width: 65%;
    
    }
}

@media only screen and (max-width: 630px) {
    .title{
        font-size: 3rem;
    }

    
.definition{
    width: 70%;

}

.definition i{
    font-size: 2rem;
}


}

@media only screen and (max-width: 500px){

    .title{
        font-size: 2.5rem;
    }

    .checker{
        padding: 1%;
        border-radius: 50px;
        width: 70%;
        height: 7%;
    }
    
    #text-input{
        font-size: 1rem;

    }
    
    #check-btn{
        border-radius: 40px;
        width: 20%;
        font-size: 0.8rem;
        font-weight: 300;
    }
    
.definition{
    width: 90%;

}
}

@media only screen and (max-width: 450px){

    .checker{
        width: 80%;
    }

    #check-btn{
        border-radius: 40px;
        width: 25%;
        font-size: 0.8rem;
        font-weight: 300;
    }
}

@media only screen and (max-width: 400px){

    .checker{
        width: 90%;
    }
    
}


@media only screen and (max-width: 300px){

    .checker{
        width: 90%;
    }
    
}


